canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  pointer-events: none;
}
main {
  margin: 0px auto;
  z-index: 10;
}
body {
  background-color: white;
  min-height: 450vh;
  
}
h2 {
  font-size: 1.8rem;
  line-height: 2rem;
  color: white;
  margin: 5rem 0 2rem;
  text-align: center;
  @media (min-width: 768px) {
        font-size: 2.25rem /* 36px */;
        line-height: 2.5rem /* 40px */;
    
}
}
.mouseP {
  z-index: -1;
}
.manrope{
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/** Modificaciones de listado de habilidades **/
.skillSect{
  margin-top: 20rem;
}
.contenedorSkills{
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 50px;  
  /* max-width: 800px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  margin: 6rem auto;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 50px; */
}
.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100px;
  max-height: 100px;
  border: solid 2px white;
  padding: 10px;
  background-color: transparent;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}
.skill:hover {
  transform: scale(1.2);
  background-color: var(--bg-color);
}
.skill:hover h3{
  display: contents;
}

.skillImg {
  width: 50px;
  height: 50px;
  transition: filter 0.3s ease;
}

.skill:hover .skillImg {
  filter: invert(1)
}

/** Modificaciones banner **/
.banner {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  padding: 10px;
}
.banner h1, h2{
  text-shadow: 0 0 5px white;
}
.separador {
  box-shadow: 0 0 2px white;
  border-radius: 100%;
}
.banner hr {
  box-shadow: 1px -2px 4px white;
  border-radius: 100%;
}
.banner span {
  animation: flicker 1.7s ease-in-out infinite alternate;
}

/* * Inicio de animacion estrellas **/
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;
  box-shadow: 0 0 5px white;
  opacity: 0;
  border-radius: 100%;
  background: white;
  animation: starAnim .8s ease-in 0s infinite alternate;
}
.star1 { top: 8%; left: 15%; animation-delay: 0s; animation-duration: 2s;}
.star2 { top: 30%; left: 60%; animation-delay: 2s; animation-duration: 2.6s;}
.star3 { top: 68%; left: 76%; animation-delay: 2.5s; animation-duration: 3s;}
.star4 { top: 82%; left: 13%; animation-delay: 4s; animation-duration: 2.2s;}
.star5 { top: 57%; left: 91%; animation-delay: 6s; animation-duration: 1.8s;}
.star6 { top: 14%; left: 92%; animation-delay: 7.5s; animation-duration: 2.8s;}
.star7 { top: 48%; left: 37%; animation-delay: 10s; animation-duration: 1.8s;}
.star8 { top: 80%; left: 92%; animation-delay: 1.5s; animation-duration: 2.8s;}
.star9 { top: 28%; left: 86%; animation-delay: 5s; animation-duration: 1.8s;}
.star10 { top: 87%; left: 43%; animation-delay: 8s; animation-duration: 2.5s;}

@keyframes starAnim {
  10% {opacity: .10;}
  30% {opacity: .30;}
  50% {opacity: .50;}
  70% {opacity: .70;}
  90% {opacity: .90;}
  100% {opacity: 1;}
}

/** Final de animacion estrellas * */

@keyframes flicker {
0%{
  opacity: 0.7;
  text-shadow: 0 0 5px;
}
100% {
  opacity: 1;
  text-shadow: 0 0 15px;
}
}


a:hover {
  cursor: pointer;
}
